.gallery {

    &-body {
        height: 60vh;
        position: relative;

        @include breakpoints(576px) {
            height: 45vh;
        }

        i {
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 1.7rem;
            color: $white;
            background: rgba(0, 0, 0, 0.5);
            top: 45%;
            position: absolute;
            z-index: 20;
            border: 1px solid $black;

            &:hover {
                color: $primaryColor;
                background: none;
                border: 1px solid $primaryColor;
                transition: $transition-in;
            }

            &#right {
                right: 0px;
            }

            &#left {
                left: 0px;
            }
        }

        .gallery-overlay {
            @include positioning(absolute, 0%, 0%, 0%, 0%, 100%, 100%);
            background: rgba(0, 0, 0, 0.4);
        }

        .slider-images {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }
    }

}