.gallery {
  &__wrapper {
    @include flex(flex-start, stretch, row wrap, 1.5rem);

    .gallery__img {
      flex: 1 1 350px;
      overflow: hidden;

      &:hover>img {
        transform: scale(1.2);
      }
    }
  }
}