.nav {
  padding: 0.7rem 0;
  background-color: $white;

  @include breakpoints(768px) {
    position: relative;
  }

  &__wrapper {
    @include flex(space-between, center, row nowrap);

    .nav__logo {
      width: 90px;
      display: inline-block;
    }

    .nav__list {
      @include flex(flex-start, center, row nowrap, 1.5rem);
      transition: 0s;

      @include breakpoints(768px) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $primaryColor;
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }

      @include breakpoints(576px) {
        flex-direction: column;
        padding: 1rem;
        align-items: flex-start;
      }

      .nav__item {
        .nav__link {
          color: $primaryColor;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 1.1rem;
          display: inline-block;

          &:hover {
            transform: translateY(-10px);
          }

          &:hover::after {
            width: 100%;
            transition: all 0.4s linear;
          }

          &::after {
            display: block;
            content: "";
            background-color: $primaryColor;
            width: 0%;
            height: 2px;
            transition: all 0.4s linear;
          }

          @include breakpoints(768px) {
            color: $white;

            &::after {
              background-color: $white;
            }
          }

          @include breakpoints(576px) {
            font-size: 0.9rem;
          }
        }
      }
    }

    .nav__hamburger {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 51;
      display: none;

      @include breakpoints(768px) {
        display: block;
      }

      &-top,
      &-middle,
      &-bottom {
        @include positioning(absolute, 0%, auto, auto, 0%, 100%, 3px);
        background-color: $primaryColor;
      }

      &-middle {
        transform: translateY(10px);
      }

      &-bottom {
        transform: translateY(20px);
      }

      &.open .nav__hamburger-top {
        transform: rotate(45deg) translateY(0px) translateX(3px);
      }

      &.open .nav__hamburger-middle {
        display: none;
      }

      &.open .nav__hamburger-bottom {
        transform: rotate(-45deg) translateY(0px) translateY(3px);
      }
    }
  }
}